
/* Main Layout */

body,table,tr,td{
	font-family: 'Open Sans', sans-serif;
	font-size:11pt;
	font-weight:600;
	color:#FFF;
}
body,html{
	height:100%;
	width:100%;
	position:relative;
}
body{
	background-color:#red;
}
@media only screen and ( min-width:1510px ){
	body{
		overflow:hidden;
	}
}

html,body,div,span,input,select,table,img{
	margin:0em;
	padding:0em;
	box-sizing:border-box;
}

.searchFrame,
.deckFrame{
	width:100%;
	height:100%;
	position:relative;
	background-color:#383838;
	display:inline-table;
}

::-webkit-scrollbar{
	width:0.5em;
}
::-webkit-scrollbar-track{
	background-color:rgba(0,0,0,0.3);
	border-radius:0.2em;
}
::-webkit-scrollbar-thumb{
	background-color:rgba(0,0,0,0.5);
	border-radius:0.2em;
}

.masterTable{
	width:100%;
	height:100%;
	border-collapse:collapse;
	min-width:1510px;
}
.masterTable td{
	padding:0em;
}
.masterTable .searchContainer,
.masterTable .deckContainer{
	width:40%;
	vertical-align:top;
}
.masterTable .overviewContainer{
	width:20%;
}

/* Filter Section */

.filterSection{
	position:relative;
	background-color:#444;
	z-index:10;
	padding:0.4em 0em 0.3em 0.3em;
	border-bottom:1px solid black;
	background-color:#444;
}

.filterGroup .filterLabel,
.filterGroup .filterSublable{
	font-weight:400;
	display:inline-block;
	padding-left:0.1em;
	color:#c5c5c5;
}
.filterGroup input,
.filterGroup select{
	font-family:'Open Sans', sans-serif;
	color:#ffffff;
	background-color:rgba(0,0,0,0.3);
	border:1px solid rgba(0,0,0,0.5);
	border-radius:0.2em;
	margin:0.1em 0em 0.1em 0em;
}
.filterGroup option{
	background-color:rgba(0,0,0,0.6);
}

.filterGroup.name .filterLabel{
	width:13%;
}
.filterGroup.name input{
	width:31%;
}
.filterGroup.formats .filterLabel{
	padding-left:0.5em;
	width:10.5%;
}
.filterGroup.formats select{
	width:17.5%;
}
.filterGroup.sort .filterLabel{
	padding-left:0.5em;
	width:7%;
}
.filterGroup.sort select{
	width:21%;
}


.filterGroup.supertypes .filterLabel{
	width:13%;
}
.filterGroup.types .filterLabel{
	padding-left:0.5em;
	width:7.7%;
}
.filterGroup.subtypes .filterLabel{
	padding-left:0.5em;
	width:11.5%;
}
.filterGroup.supertypes select,
.filterGroup.types select,
.filterGroup.subtypes select{
	width:22.6%;
}

.filterGroup.text .filterLabel{
	width:13%;
}
.filterGroup.text input{
	margin-top:0.2em;
	margin-bottom:0.25em;
	width:59%;
}
.filterGroup.cmc .filterLabel{
	padding-left:0.5em;
	width:14%;
}
.filterGroup.cmc input{
	width:14%;
}

.filterGroup.colors .filterLabel,
.filterGroup.colorIdentity .filterLabel{
	width:13%;
}
.filterGroup.colors .filterSublable,
.filterGroup.colorIdentity .filterSublable{
	width:3%;
	position:relative;
	top:0.2em;
	left:0.05em;
}
.filterGroup.colors select,
.filterGroup.colorIdentity select{
	width:14.4%;
	margin-bottom:0.15em;
}

.filterSection .bottomTab{
	position:absolute;
	bottom:-1.6em;
	right:4.35em;
	background-color:#444;
	border:1px solid black;
	border-top:none;
	border-radius:0.0em 0.0em 0.2em 0.2em;
	font-weight:600;
	font-size:0.8em;
	color:#DDD;
	padding:0.0em 1em 0.2em 1em;
	cursor:pointer;
}
.hideFilters .filterSection .bottomTab.hide{
	display:none;
}
.filterSection .bottomTab.show{
	display:none;
}
.hideFilters .filterSection .bottomTab.show{
	display:block;
	bottom:-1.5em;
}
.hideFilters .filterSection .filterGroup{
	display:none;
}
.hideFilters .filterSection{
	height:0.5em;
	padding:0em;
}

/* Navigation Section */

.navSection{
	position:absolute;
	bottom:0.35em;
	right:3.5em;
	font-size:1.0em;
	z-index:9;
}

.navSection .topTab{
	border:1px solid black;
	border-bottom:none;
	border-radius:0.2em 0.2em 0em 0em;
	padding:0.35em 0.7em;
	background-color:#444;
	font-weight:400;
	font-size:0.9em;
}

.navBottom{
	position:absolute;
	bottom:0em;
	width:100%;
	background-color:#444;
	border-top:1px solid black;
	height:0.4em;
	z-index:8;
}

.navSection a{
	display:inline-block;
	cursor:pointer;
	border:1px solid black;
	border-radius:10em;
	width:1.55em;
	height:1.5em;
	text-align:center;
	padding-bottom:0.1em;
	background-color:#888;
	position:relative;
	top:-0.1em;
	user-select:none;
}
.navSection a:hover{
	background-color:#AAA;
}

/* Card List Section */

.listSection{
	position:absolute;
	width:100%;
	top:9em;
	bottom:0.5em;
	overflow-y:scroll;
	box-sizing:content-box;
	z-index:5;
	margin-top:0.4em;
	background-color:#383838;
}
.hideFilters .listSection{
	top:0.35em;
}

.listTable{
	border-collapse:collapse;
	margin-bottom:2em;
	width:100%;
}
.searchContainer .listTable tr:not([count="0"]){
	background-color:rgba(20,80,20,0.2);
}
.searchContainer .listTable tr[commander="1"],
.deckContainer .listTable tr[commander="1"]{
	background-color:rgba(80,20,80,0.5);
}
.searchContainer .listTable tr[legal="0"],
.deckContainer .listTable tr[legal="0"]{
	background-color:rgba(80,20,20,0.5);
}

.listTable tr:nth-of-type(odd) td{
	background-color:rgba(0,0,0,0.2);
}
.masterTable .listTable td:nth-of-type(1){
	padding:0.5em 0.3em 0.2em 0.5em;
	vertical-align:top;
	width:96px;
}
.masterTable .listTable td:nth-of-type(2){
	padding:0.5em 1.5em 0.5em 0.5em;
	vertical-align:top;
}
.masterTable .listTable td:nth-of-type(3){
	padding:0.5em 0.5em 0.5em 0.5em;
	vertical-align:middle;
	width:1.5em;
}
.listTable span{
	color:#c5c5c5;
	font-size:0.9em;
	font-weight:600;
}
.listTable .cardTitle{
	font-weight:600;
	font-size:0.95em;
	margin-right:0.2em;
	color:#c5c5c5;
	text-decoration:none;
}
.listTable .cardTitle:hover{
	text-decoration:underline;
}
.listTable .cardManaCost{
	margin-right:0.2em;
}
.listTable .cardRarity{
	display:inline-block;
	height:1em;
	width:1em;
	border-radius:1em;
	border:1px solid black;
	position:relative;
	top:0.2em;
	margin-left:0.2em;
	background-color:#222222;
}
.listTable .cardRarity[rarity="U"]{
	background-color:#888888;
	border-color:#BBBBBB;
}
.listTable .cardRarity[rarity="R"]{
	background-color:#886622;
	border-color:#AA9933;
}
.listTable .cardRarity[rarity="M"]{
	background-color:#BB4444;
	border-color:#EE6666;
}
.listTable .cardRating{
	color:#CA4;
}
.listTable .cardType{
	margin-right:0.2em;
}
.listTable .cardText{
	color:#FFF;
}
.listTable .symbol{
	height:1em;
	position:relative;
	top:0.25em;
}
.listTable .cardImage{
	width:95px;
	border-radius:6px;
}
.listTable .helper{
	font-style:italic;
}

.masterTable .listTable td:nth-of-type(3) a{
	display:inline-block;
	cursor:pointer;
	border:1px solid black;
	border-radius:10em;
	width:1.1em;
	height:1.0em;
	text-align:center;
	padding-bottom:0.1em;
	background-color:#888;
	color:#fff;
	position:relative;
	top:-0.1em;
	font-size:1.5em;
	user-select:none;
}
.masterTable .listTable td:nth-of-type(3) a:hover{
	background-color:#AAA;
}
.masterTable .listTable td:nth-of-type(3) .cardCount{
	text-align:center;
	width:1.55em;
	height:1.55em;
	position:relative;
	left:0.13em;
	top:-0.15em;
}

.masterTable .listTable td:nth-of-type(3) a.add span{
	position:relative;
	top:-0.22em;
	left:0.00em;
}
.masterTable .listTable td:nth-of-type(3) a.remove span{
	position:relative;
	top:-0.32em;
	left:0.00em;
}
.masterTable .listTable td:nth-of-type(3) a.commanderFlag span{
	position:relative;
	top:-0.245em;
	left:-0.03em;
}
.masterTable .listTable tr[commander="1"] td:nth-of-type(3) a.commanderFlag{
	background-color:#882288;
}
.masterTable .listTable td:nth-of-type(3) a.commanderFlag{
	display:none;
}
.masterTable[format="Commander"] .listTable td:nth-of-type(3) a.commanderFlag,
.masterTable[format="Brawl"] .listTable td:nth-of-type(3) a.commanderFlag{
	display:inline-block;
}

.masterTable .listTable td:nth-of-type(3) .cardCount[count="0"]{
	color:#c5c5c5;
}
.masterTable .listTable tr[legal="0"] td:nth-of-type(3) .cardCount{
	color:red;
}

/* Deck Data Section */

.overviewContainer{
	background-color:#383838;
	width:20%;
	position:relative;
	overflow-x:hidden;
}

.deckProperties{
	position:absolute;
	top:0em;
	width:100%;
	height:9.35em;
	background-color:#444;
	border-bottom:1px solid black;
	padding:0.4em 0em 0.3em 0.3em;
}
.deckProperties .filterLabel{
	width:30%;
}
.deckProperties input,
.deckProperties select{
	width:68%;
}
.deckProperties .deckFolder select,
.deckProperties .deckName input{
	width:60%;
}
.deckProperties .deckFolder a,
.deckProperties .deckName a{
	position:relative;
	top:0.60em;
	margin-top:-0.5em;
	margin-left:0.2em;
	display:inline-block;
	height:1.33em;
	width:1.33em;
	background-color:rgba(128,128,128,0.4);
	border:1px solid black;
	color:white;
	border-radius:0.2em;
	cursor:pointer;
	user-select:none;
}
.deckProperties .deckFolder a:hover,
.deckProperties .deckName a:hover{
	background-color:rgba(128,128,128,0.6);
}
.deckProperties .deckFolder a span,
.deckProperties .deckName a span{
	position:relative;
	top:-0.30em;
	left:0.15em;
	font-size:1.5em;
	font-weight:700;
}
.deckProperties .deckName a{
	top:0.4em;
}
.deckProperties .deckName a[secret=secret]{
	background-color:rgba(255,0,0,0.5);
}
.deckProperties .deckName a span{
	font-weight:400;
	font-size:1.3em;
	position:relative;
	top:-0.29em;
	left:0em;
}

.deckProperties .buttonHolder{
	text-align:center;
	font-size:1.5em;
	padding-top:0.2em;

}
.deckProperties .imageButton{
	display:inline-block;
	cursor:pointer;
	background-color:#888;
	border:1px solid black;
	border-radius:10em;
	height:1.9em;
	width:1.9em;
	position:relative;
	top:0.09em;
	margin-right:0.00em;
}
.deckProperties .imageButton:hover{
	background-color:#AAA;
}
.deckProperties .imageButton img{
	width:1.5em;
	position:relative;
	top:0.20em;
	left:0.01em;
	border-radius:2em;
}
.deckProperties .imageButton.disabled{
	opacity:0.3;
}

.deckProperties #login path{
	stroke:black;
	stroke-width:0.3px;
}
.deckProperties #login path:nth-of-type(5){
	stroke-width:0px;
}
.deckProperties #login .abcRioButton{
	width:1.9em !important;
	height:1.60em !important;
	border-radius:1.9em;
	background-color:transparent;
	box-shadow:none;
	margin-bottom:-0.10em;
}
.deckProperties #login .abcRioButton:hover{
	box-shadow:none;
}
.deckProperties #login .abcRioButtonContentWrapper{
	border:none;
}
.deckProperties #login .abcRioButton .abcRioButtonIcon{
	background-color:transparent;
	width:1.9em;
	height:1.9em;
}
.deckProperties #login .abcRioButton .abcRioButtonSvg{
	width:1.4em;
	height:1.4em;
	margin:-0.13em -0.09em;
}
.deckProperties #login .abcRioButtonContents{
	display:none;
}
.deckProperties #user{
	display:none;
}


.deckData{
	overflow-y:scroll;
	overflow-x:hidden;
	position:absolute;
	top:9.35em;
	bottom:0.5em;
	width:100%;
}
.deckData .deckIssues{
	font-weight:400;
	color:#00ff00;
	border:1px solid green;
	margin:0.5em;
	border-radius:0.3em;
	padding:0.25em 0.5em 0.35em 1.8em;
	background-color:rgba(0,255,0,0.1);
	font-size:0.9em;
}
.masterTable.illegal .deckData .deckIssues{
	color:red;
	border-color:red;
	background-color:rgba(255,0,0,0.1);
}

.deckData .deckMetrics{
	padding-left:0.5em;
	font-weight:400;
	margin-bottom:1em;
}
.deckData .deckMetrics ul{
	margin-top:0.3em;
	margin-bottom:0.5em;
	list-style:none;
	padding-left:0.5em;
}
.deckData .deckMetrics img{
	height:1em;
	position:relative;
	top:0.15em;
}

.deckFooter{
	position:absolute;
	bottom:0em;
	width:100%;
	background-color:#444;
	border-top:1px solid black;
	height:0.4em;
	z-index:8;
}

/* Dialog Box */

.interstitial{
	display:none;
}

.interstitial,
.interstitial tr,
.interstitial td{
	position:fixed;
	top:0em;
	left:0em;
	z-index:101;
	height:100%;
	width:100%;
}

.interstitial td{
	background-color:rgba(0,0,0,0.7);
	text-align:center;
}

.interstitial .dialogBox{
	position:absolute;
	top:50%;
	left:50%;
	transform:translateY(-50%) translateX(-50%);
	width:30%;
	max-height:80%;
	background-color:#484848;
	border:1px solid black;
	border-radius:0.3em;
	padding-bottom:0.4em;
}

.interstitial .closeButton{
	position:absolute;
	right:0.35em;
	top:0.3em;
	display:block;
	width:1.2em;
	height:1.2em;
	font-size:1em;
	font-weight:700;
	background-color:#282828;
	border:1px solid #080808;
	color:#f0f0f0;
	border-radius:0.1em;
	cursor:pointer;
}
.interstitial .closeButton:hover{
	background-color:#202020;
	border-color:#000000;
	color:#e8e8e8;
}
.interstitial .closeButton span{
	position:relative;
	top:-0.34em;
	font-size:1.5em;
}
.interstitial[close="0"] .closeButton{
	display:none;
}

.interstitial .dialogTitle{
	background-color:#333;
	border-bottom:1px solid black;
	text-align:left;
	padding:0.3em 2em 0.2em 0.5em;
	font-weight:600;
}
.interstitial .dialogBody{
	margin:0.5em 0.2em 0.2em 0.85em;
	padding-right:0.65em;
	font-weight:400;
	text-align:left;
	overflow-y:auto;
	max-height:40em;
}

.interstitial .buttonHolder{

}
.interstitial .confirmButton,
.interstitial .cancelButton{
	display:inline-block;
	background-color:#282828;
	border:1px solid #080808;
	color:#f0f0f0;
	padding:0.5em 1em 0.5em 1em;
	margin:0.5em 0.0em 0.1em 0.0em;
	width:5em;
	border-radius:0.2em;
	cursor:pointer;
}
.interstitial .confirmButton:hover,
.interstitial .cancelButton:hover{
	background-color:#2f2f2f;
	border-color:#0f0f0f;
	color:#f8f8f8;
}
.interstitial[confirm="0"] .confirmButton{
	display:none;
}
.interstitial[cancel="0"] .cancelButton{
	display:none;
}

.interstitial input{
	font-family:'Open Sans', sans-serif;
	position:relative;
	left:50%;
	transform:translateX(-50%);
	color:#ffffff;
	background-color:rgba(0,0,0,0.3);
	border:1px solid rgba(0,0,0,0.5);
	border-radius:0.2em;
	margin:0.4em 0em 0.0em 0em;
	font-size:1.0em;
	padding:0.2em;
	width:80%;
}

.interstitial .dialogBody a{
	color:#6688dd;
	text-decoration:none;
}
.interstitial .dialogBody a:visited{
	color:#6688dd;
}
.interstitial .dialogBody a:hover{
	color:#7799ee;
}

.interstitial .folderList a{
	cursor:pointer;
}
.interstitial .folderList .folderIcon{
	position:relative;
	height:1em;
	top:0.15em;
	margin-right:0.2em;
	float:left;
}
.interstitial .folderList ul{
	margin-top:0.0em;
	list-style:none;
	padding-left:0em;
}
.interstitial .folderList li{
	padding-left:1em;
}
.interstitial .folderList li:nth-of-type(odd){
	background-color:rgba(0,0,0,0.2);
}
.interstitial .folderList .deleteDeck{
	position:relative;
	top:0.15em;
	display:inline-block;
	height:1em;
	width:1em;
	background-color:#aa2222;
	border:1px solid #880000;
	color:#660000;
	border-radius:1em;
	float:left;
	margin-right:0.2em;
}
.interstitial .folderList .deleteDeck:hover{
	background-color:#bb3333;
	border-color:#991111;
	color:#771111;
}
.interstitial .folderList .deleteDeck span{
	position:relative;
	top:-0.43em;
	left:0.03em;
	font-weight:700;
	font-size:1.5em;
}

/* About Section */

.about{
	position:absolute;
	bottom:0.4em;
	right:2em;
	z-index:100;
	border:1px solid black;
	border-bottom:none;
	border-radius:0.2em 0.2em 0em 0em;
	padding:0.35em 0.7em;
	background-color:#444;
	font-weight:600;
	font-size:0.9em;	
	cursor:pointer;
	user-select:none;
}

